<div class='row'>
	<div class='col'>
		<div class='col'>
			<div>
				<input type='text'
					   placeholder='Start typing City name'
					   [(ngModel)]='searchText'
					   (keyup)='onCityTyping($event)'
					   [disabled]='(isSityRequest$ | async) ?? false'>
			</div>
			<button class='btn'
					*ngIf='searchText.length'
					[disabled]='isSityRequest$ | async'
					(click)='clearSearch()'>Clear
			</button>
		</div>
		<div>
			<h3 *ngIf='(responseCities$ | async)?.length; else noCity'>Choose city</h3>
			<ng-template #noCity><h3 *ngIf='!(selectedCity$ | async)'>No City selected</h3></ng-template>
			<div *ngFor='let city of responseCities$ | async' class="btn"
				 (click)='selectCity(city)'>
				{{city.name}} {{city.country}} {{city.state}}
			</div>
		</div>
	</div>
	<div class='col'>
		<div class='col'>
			<div *ngFor='let mode of modes'>
				<label for='{{mode}}'><span class='letter'>{{mode}}</span> forecast</label>
				<input type='radio'
					   name='mode'
					   id='{{mode}}'
					   [value]='mode'
					   (change)='changeForecastMode(mode)'
					   [checked]='selectedMode === mode'>
			</div>
		</div>
	</div>
</div>
